#parse("/templates/layout.vm")
#@mainLayout()

<h2>New Job</h2>

<div>For workflow: $workflow.getName()</div>

<form name="new-job" action="$WebPath.getCreateJob()" method="post" accept-charset="utf-8">
    <input type="hidden" name="workflowId" value="$workflow.getId()" required>

    <label for="estimated-time">Estimated Time</label>
    <select id="estimated-time" name="job[estimatedTime]">
        <option    value="300000" selected>5 m</option>
        <option   value="3600000">1 h</option>
        <option  value="21600000">6 h</option>
        <option  value="86400000">1 d</option>
        <option value="259200000">3 d</option>
        <option value="604800000">7 d</option>
    </select>

    <input type="hidden" name="job[estimatedOutputSize]" value="100000000">

    <label for="job-priority">Estimated Time</label>
    <select id="job-priority" name="job[priority]">
        <option value="3">Low</option>
        <option value="10" selected>Middle</option>
        <option value="17">High</option>
    </select>

    <input class="smooth" type="submit" value="Save">
</form>

#end