#parse("/templates/layout.vm")
#@mainLayout()

<h2>Delete workflow</h2>

<p>Do you really want to delete the workflow '$workflow.getName()'?</p>

<form name="delete-workflow" action="$WebPath.getDestroyWorkflow($workflow)" method="post" accept-charset="utf-8">
    #if($redirectTarget)
        <input type="hidden" name="redirectTarget" value="$redirectTarget">
    #end

    <input class="smooth" type="submit" value="Yes, delete">
</form>



#end