#parse("/templates/layout.vm")
#@mainLayout()

<h2>New Workflow</h2>

<form name="new-workflow" action="$WebPath.getUpdateWorkflow($workflow)" method="post" accept-charset="utf-8">
    <input type="hidden" name="workflow[versionId]" value="$workflow.getVersionId()">

    <input class="smooth" type="text" name="workflow[name]" value="$workflow.getName()" required>

    <textarea class="smooth" type="text" name="workflow[definition]" placeholder="Definition as JSON">$workflow.getDefinition()</textarea>

    <input class="smooth" type="submit" value="Save">
</form>

#end