#parse("/templates/layout.vm")
#parse("/templates/workflows/macro_show.vm")
#@mainLayout()

<h2>Workflow Version: $workflow.getName()</h2>

<div>
    <a href="$WebPath.getShowWorkflow($workflow)">Back to Latest Version</a>
</div>

#show_workflow($workflow)

#end