#parse("/templates/layout.vm")
#@mainLayout()

<h1>Login</h1>

<form name="login" action="$WebPath.getLogin()" method="post" accept-charset="utf-8">
    <label>Login</label>
    #if($redirectTarget)
        <input type="hidden" name="redirectTarget" value="$redirectTarget">
    #end
    <input class="smooth" type="text" name="nameOrEmail" placeholder="Name / Email" required></li>
    <input class="smooth" type="password" name="password" placeholder="Password" required></li>
    <input class="smooth" type="submit" value="Login">
</form>

#end

